.search-bar{
    height: 40px;
    width: 938px;
    left: 0;
    top: 0;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

