@import '~antd/dist/antd.css';
#root{
    display: block;
    margin: 0 auto 0 auto;
    width: 1010px;
    height: 1147px;
    @media (max-width: 420px) {
        width: 420px;
        height: 1755px;
    }
}